<%- include('includes/header')%>
    <%- include('includes/alerts')%>

        <link rel="stylesheet" href="/CSS/settings.css">
        <body>
            <div class="container dispaly-alert" id="show-alert-chats"></div>
            <main class="d-flex container p-5">
                <a href ="<%= baseURL%>" class="back-button"><i class="fa-solid fa-arrow-left"></i></a>
                <div class="header text-center">
                    <img src="<%= grpFound.profilePhoto%>" alt="">
                    <label>
                        <h3><i class="fa-solid fa-pencil"></i></h3>
                        <span><%= grpFound.description%></span>
                        <input type="file" style="display: none;">
                    </label>
                </div>
                <hr>
                <di class="container middle">
                    <div class="form-check form-switch m-3">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Private group</label>
                      </div>
                      <div class="form-check form-switch m-3">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Only admins can send message</label>
                      </div>
                </di>
                <div class="body-content ">
                    <div class="container">
                        <h5 class="my-3">Members:</h5>
                        <ul class="d-flex p-0">
                            <div class="col">
                                <% members.forEach((member)=>{%>
                                    <li class="d-flex my-4 justify-content-end w-100" user-id="<%= member._id%>">
                                        <img src="<%= member.profilePic%>" alt="">
                                        <div class="container col">
                                            <h5>
                                                <%=member.username%>
                                            </h5>
                                            <p>
                                                <%=member.bio%>
                                            </p>
                                        </div>
                                        <div class="buttons">
                                            <% if(member._id.toString()===grpFound.admin._id.toString()){%>
                                                Admin
                                                <%}else{%>
                                                    <button class="btn btn-danger" user-id="<%= member._id%>"
                                                        onclick="removeMember(this)"> Remove
                                                    </button>
                                                    <%}%>
                                        </div>
                                    </li>
                                    <%})%>
                            </div>
                        </ul>
                    </div>
                </div>
            </main>
            <input type="hidden" name="group-id" id="group-id" value="<%= grpFound._id%>">
            <input type="hidden" id="baseURL" value="<%= baseURL%>" >
        </body>
        <script>
            var baseURL = document.getElementById('baseURL').value
            console.log(baseURL)
            function removeMember(self) {
                
                const _id = self.getAttribute('user-id');
                const groupId = document.querySelector('input[name="group-id"]').value
                const data = { _id, groupId }

                $.ajax({
                    url: `${baseURL}/groups/removeMember`,
                    method: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.status === 'success') {
                            var badge, color;
                            document.querySelector(`li[user-id="${_id}"]`).remove()
                            if(response.status === "success"){
                                badge = "check-circle-fill"
                                color = "success"
                            }else{
                                badge = "exclamation-triangle-fill"
                                color = "danger"
                            }
                            document.querySelector('.dispaly-alert').innerHTML = `<div class="alert alert-${color} d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#${badge}"/></svg>
                                <div>
                                   ${response.message}
                                </div>
                            </div>`
                        }
                        setTimeout(()=>{
                            document.querySelector('.dispaly-alert').innerHTML = ""
                        }, 3000)
                    },
                    error: function (response) {

                    }
                })
            }
        </script>